:root {
    --dark-grey: #121212; 
    --grey: #1E1E1E;    
    --light-grey: #E0E0E0; 
    --blue: #114c7d; /* Color cian claro */
    --white: #FFFFFF;     
    --yellow: #F7E05C;   
    --green: #97CE4C; /* Verde para el borde */
    --bg-color: #2C2A4A; /* Color de fondo oscuro basado en el portal */
    --card-color: #6A4C93; /* Nuevo color de las cards (morado oscuro) */
    --accent-color: #F0E14A; /* Color de acentos similar a los detalles amarillos */
}

@font-face {
    font-family: 'Rick and Morty Font';
    src: url('assets/get-schwifty/get_schwifty.ttf') format('truetype');
}

h1 {
    font-family: 'Rick and Morty Font', sans-serif;
    margin: 0;
    color: var(--blue); 
    text-shadow: 
        1px 1px 0px var(--green),  
        -1px -1px 0px var(--green), 
        1px -1px 0px var(--green),  
        -1px 1px 0px var(--green);  
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--light-grey);
}

header {
    background-color: var(--grey);
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.form-container {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    background-color: var(--grey);
    color: var(--light-grey);
    width: 300px; /* Ancho fijo para el input */
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: var(--card-color); /* Color de las cards actualizado */
    width: 15rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05); 
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.card-content {
    padding: 10px;
    text-align: center;
}

.card-content h3 {
    margin: 10px 0;
    color: var(--white);
}

.card-content p {
    color: var(--light-grey);
}